@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
 
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
 
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
 
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --active-button: 191, 24%, 60%;
    --active-button-foreground: 0 0% 100%;

    --button: 199, 46%, 88%;
    --button-foreground: 225, 4%, 36%;

    --tab-active-button: 199, 18%, 58%;
    --tab-active-button-foreground: 0, 0%, 98%, 1;

    --tab-button: 200, 18%, 87%;
    --tab-button-foreground: 225, 4%, 36%;

    --action-button: 199, 47%, 88%;
    --action-button-foreground: 223, 4%, 36%;

    --carousal: 0 0% 100%;

    --border: 0, 0%, 66%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
 
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
 
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
 
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --button: 191, 24%, 60%;
    --button-foreground: 0, 0%, 100%;

    --active-button: 199, 53%, 32%;
    --active-button-foreground: 0, 0%, 100%;

    --tab-active-button: 199, 53%, 32%;
    --tab-active-button-foreground: 0, 0%, 85%;

    --tab-button: 199, 18%, 58%;
    --tab-button-foreground: 0, 0%, 100%;

    --action-button: 191, 38%, 48%;
    --action-button-foreground: 0, 0%, 100%;

    --carousal: 199, 67%, 11%;
 
    --border: 0, 0%, 66%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .chat-button {
    @apply w-full py-2 my-1 rounded-md whitespace-nowrap border-0.5 border-border disabled:pointer-events-none font-normal bg-active-button text-active-button-foreground disabled:opacity-65 disabled:dark:opacity-50 disabled:cursor-not-allowed
  }
}